
/* ===============
    Phone Devices
   =============== */
@media only screen and (max-width: 480px) {
}

/* ===================
    Computers/Tablets
   =================== */
@media only screen and (min-width: 481px) {
}