/* main Styles */
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
}

/* Figure Styles */
.container-product {
    align-content: flex-end;
    margin: 15px;
    padding: 15px;
    border: 5px ridge #2b1714;
}

figure {
    display: flex;
    flex-flow: column nowrap;
}

figure img {
    padding-bottom: 15px;
    border-bottom: 2px solid #2b1714;
}

figure figcaption {
    margin: 15px auto 10px;
}
/* ===============
    Phone Devices
   =============== */
@media only screen and (max-width: 640px) {
}

/* ===================
    Computers/Tablets
   =================== */
@media only screen and (min-width: 641px) {
    body {
        display: grid;
        grid-template-areas: 
        "header header"
        "aside main"
        "footer footer";
        grid-template-columns: 1fr 5fr;
    }

    header { grid-area: header; }
    main { grid-area: main; }
    aside { grid-area: aside; }
    footer { grid-area: footer; }
}