/* Colors 
Orange: #E1341E
Yellow: #E1951E
Pink: #E11E69
*/

/* body Styles */
body {
    height: 100vh;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Header Styles */
header {
    padding: 5px;
    color: white;
    background: radial-gradient(circle at 10%, #c56457, #cf9f50);
}

header .header-logo {
    margin-bottom: 5px;
    padding: 15px;
    border-bottom: 2px solid white;
}
header .header-logo > * {
    display: inline-block;
}

header .header-logo img {
    margin-right: 10px;
    padding: 10px;
    border-radius: 15px 30px;
    background-color: white;
}

header nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-top: 2px solid white;
}

header nav > * {
    flex: 1 0 75px;
}

/* footer Styles */
    footer {
        padding: 10px;
        color: white;
        background: radial-gradient(circle at 10%, #c56457, #cf9f50);
    }

/* h Styles */
h1 {
    font-size: 2.5em;
}
/* a Styles */
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: gray;
}
/* ===============
    Phone Devices
   =============== */
@media only screen and (max-width: 640px) {

    /* header nav {
        flex-direction: column;
    } */
}

/* ===================
    Computers/Tablets
   =================== */
@media only screen and (min-width: 641px) {
}