/* Colors 
Orange: #E1341E
Yellow: #E1951E
Pink: #E11E69
*/

/* body Styles */
body {
    height: 100vh;
    color: black;
    font-size: 1.1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Header Styles */
header {
    padding: 5px;
    color: white;
    background: radial-gradient(circle at 10%, #2b1714, #332819);
}

header .header-logo {
    margin-bottom: 5px;
    padding: 15px;
    border-bottom: 2px solid white;
}
header .header-logo > * {
    display: inline-block;
}

header .header-logo img {
    margin-right: 10px;
    padding: 12px 15px;
    border-radius: 4px 35px;
    background-color: white;
}

header nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-top: 2px solid white;
}

header nav > * {
    flex: 1 0 75px;
}

/* main Styles */
main {
    padding: 15px;
}

/* aside Styles */
aside {
    padding: 15px 15px 0px;
    border-right: 2px solid #2b1714;
    box-shadow: 5px -5px 5px #2b1714;
}

/* footer Styles */
    footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: stretch;
        padding: 10px;
        color: white;
        background: radial-gradient(circle at 10%, #2b1714, #332819);
    }

    footer .nav-footer {
        flex: 1 0 75px;
        margin: 5px 20px;
        padding: 5px;
        border-radius: 10px 10px;
        background-color: #927545;
        box-shadow: -5px -5px 25px rgba(255, 255, 255, .1);
    }
    footer .nav-footer nav {
        display: flex;
        flex-flow: column nowrap;
    }

    footer #container-greeting {
        flex: 1 0 200px;
        background: #927545 url("../Images/daves-music-store-sm-logo.png") no-repeat center / 190px;
        box-shadow: -5px -5px 25px rgba(255, 255, 255, .1);
        color: rgb(255, 255, 255);
    }

    footer #container-greeting p{
        width: 80%;
    }

/* h Styles */
h1 {
    font-size: 5.5em;
}

h2 {
    font-size: 1.5em;
    margin: 5px;
    padding: 5px;
}

h3 {
    font-size: 1.3em;
    margin: 5px;
    padding: 5px;
    border-bottom: 2px solid white;
}

/* p Styles */
p {
    margin: 5px auto;
    padding: 5px;
    line-height: 1.5em;
}

/* nav Styles */
nav {
    margin: 5px auto;
    padding: 5px;
}

/* a Styles */
a {
    margin: 5px auto;
    padding: 5px;
}

nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: #ecacc6;
}

.nav-footer a {
    margin: 5px 0px;
}

/* form Styles */
form {
    padding: 15px;
    border: 2px solid #2b1714;
    border-radius: 5px;
    background-color:#faedd7
}

/* input Styles */
input, label, button {
    margin: 10px 5px;
    line-height: 1.5em;
}

input {
    font-weight: bold;
}

/* ===============
    Phone Devices
   =============== */
@media only screen and (max-width: 640px) {

    /* header nav {
        flex-direction: column;
    } */
}

/* ===================
    Computers/Tablets
   =================== */
@media only screen and (min-width: 641px) {
}