/* Colors 
Orange: #E1341E
Yellow: #E1951E
Pink: #E11E69
*/
:root {
    --primary-bg-color: #422722;
    --secondary-bg-color: #705c41;
    /* #ca8e3a #4d3f2c*/
}

/* body Styles */
body {
    height: 100vh;
    color: black;
    font-size: 1.1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Header Styles */
header {
    padding: 5px;
    color: white;
    background: radial-gradient(circle at 10%, var(--primary-bg-color), var(--secondary-bg-color));
}

header .header-logo {
    margin-bottom: 5px;
    padding: 15px;
    border-bottom: 2px solid white;
}
header .header-logo > * {
    display: inline-block;
}

header .header-logo img {
    height: 50px;
    margin-right: 10px;
    padding: 6px 20px;
    border-radius: 4px 20px;
    background-color: white;
}

header nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-top: 2px solid white;
}

header nav > * {
    flex: 1 0 75px;
}

header nav a {
    border-left: 2px solid white;
}

/* main Styles */
main {
    padding: 15px;
}

/* aside Styles */
aside {
    padding: 15px 15px;
    border-right: 2px solid var(--primary-bg-color);
    box-shadow: 0px 0px 15px var(--primary-bg-color);
}

/* footer Styles */
    footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: stretch;
        padding: 10px;
        color: white;
        background: radial-gradient(circle at 10%, var(--primary-bg-color), var(--secondary-bg-color));
    }

    footer .nav-footer {
        flex: 1 0 75px;
        margin: 5px 20px;
        padding: 5px;
        border-radius: 10px 10px;
        background-color: #816b47;
        box-shadow: -5px -5px 25px rgba(255, 255, 255, .1);
    }
    footer .nav-footer nav {
        display: flex;
        flex-flow: column nowrap;
    }

    footer #container-greeting {
        flex: 1 0 200px;
        box-shadow: -5px -5px 25px rgba(255, 255, 255, .1);
        color: rgb(255, 255, 255);
    }

    footer #container-greeting p{
        width: 80%;
    }

/* Figure Styles */
figure img {
    width: 100%;
    height: auto;
}

/* List Styles */
ul, li {
    margin: 5px;
}

/* h Styles */
h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
    margin: 5px;
    padding: 5px;
}

h3 {
    font-size: 1.3em;
    margin: 5px;
    padding: 5px;
    border-bottom: 2px solid white;
}

h4 {
    margin: 15px auto;
    padding: 0px 10px 5px;
    border-bottom: 2px solid var(--primary-bg-color);
}

/* p Styles */
p {
    margin: 5px auto;
    padding: 5px;
    line-height: 1.5em;
}

/* nav Styles */
nav {
    margin: 5px auto;
    padding: 5px;
}

/* a Styles */
a {
    margin: 5px 5px;
    padding: 5px;
    color: black;
    text-decoration: none;
}

nav a {
    color: white;
}

nav a:hover {
    color: #ecacc6;
}

.nav-footer a {
    margin: 5px 0px;
}

/* input Styles */
input, label, button {
    margin: 10px 5px;
    line-height: 1.5em;
}

input {
    font-weight: bold;
}

/* ===============
    Phone Devices
   =============== */
@media only screen and (max-width: 480px) {
    footer {
        display: flex;
        flex-direction: column;
    }

    footer .nav-footer {
        margin: 15px 10px;
    }
}

/* ===================
    Computers/Tablets
   =================== */
@media only screen and (min-width: 481px) {
}