
/* ===================
    Toggle Light/Dark
   =================== */
@media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body {
        --text-color: #eee;
        --bkg-color: #121212;
    }
    body.light-theme {
        --text-color: #222;
        --bkg-color: #fff;
    }
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: var(--bkg-color);
}

h1, h2,
p {
    color: var(--text-color);
}