/* main {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* ===============
    Phone Devices
   =============== */
@media only screen and (max-width: 640px) {
}

/* ===================
    Computers/Tablets
   =================== */
@media only screen and (min-width: 641px) {
}