/* main Styles */
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(0, 430px));
    gap: 10px;
}

/* Figure Styles */
.container-product {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    margin: 15px 5px;
    padding: 15px;
    border: 5px ridge #422722;
}

figure {
    border-bottom: 2px solid #422722;
}

figure img {
    padding: 15px auto; 
    max-height: 220px;
}

figure figcaption {
    margin: 15px auto;
}
/* ===============
    Phone Devices
   =============== */
@media only screen and (max-width: 480px) {
    main {
        display: block;
    }
}

/* ===================
    Computers/Tablets
   =================== */
@media only screen and (min-width: 481px) {
    body {
        display: grid;
        grid-template-areas: 
        "header header"
        "aside main"
        "footer footer";
        grid-template-columns: 1fr 5fr;
    }

    header { grid-area: header; }
    main { grid-area: main; }
    aside { grid-area: aside; }
    footer { grid-area: footer; }
}